<html>
  <head>
    <title>Your Personal Training App</title>
    <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
    </style>
  </head>
<body>
  <h1>Bouldering Training Recommendation Log In</h1>
 
  <form method="POST", action="/signup">
    <p>Email Address: <input type="email" name="email"> <input type="submit" value="Login"></p>
  </form>  

<p><a href="guestrecommend">Continue as Guest</a></p>
<p><a href="signup">Signup</a></p>



</body>


</html>
